- content_for :form do
  = form_for reply, :url => url, :method => method, :html => {:id => 'post_form'} do |f|
    %b Reply
    .view-button#rtf{class: ('selected' if (params[:editor_mode] || current_user.default_editor) == 'rtf')} Rich Text
    .view-button#html{class: ('selected' if (params[:editor_mode] || current_user.default_editor) == 'html')} HTML
    .view-button#markup-allowed{title: "Toggle RTF editor and HTML editor\nAllowed tags: #{Glowfic::ALLOWED_TAGS.sort * ', '}"} ?
    - # title gets overridden by JS
    %br
    %br
    = f.hidden_field :post_id
    = f.hidden_field :character_id
    = f.hidden_field :icon_id
    = hidden_field_tag :editor_mode, params[:editor_mode] || current_user.default_editor
    - if params[:per_page]
      = hidden_field_tag :per_page, params[:per_page]
    #post-form-wrapper
      = f.text_area :content, class: 'tinymce'
      = submit_tag (method == :put ? 'Save' : "Post"), class: 'button', id: 'submit_button', disable_with: 'Saving...'
      = submit_tag "Preview", class: 'button', id: 'preview_button', name: 'button_preview'
      - if method == :post
        = submit_tag "Save Draft", class: 'button', id: 'draft_button', disable_with: 'Saving...', name: 'button_draft'
    %br
    #markup-allowed-box{style: 'display:none'}
      %b Allowed tags in the HTML editor:
      = Glowfic::ALLOWED_TAGS.sort * ', '
      %br
      %br
      %b Allowed attributes:
      - Glowfic::ALLOWED_TAG_ATTRIBUTES.each do |tag_name, attrs|
        = succeed ':' do
          %b= tag_name
        = attrs * ', '
        %br

= render partial: 'posts/editor', locals: {item: reply}
