!!!
%html
  %head
    %title= (Rails.env.development? ? 'DEV: ' : '') + (@page_title ? @page_title + " | Glowfic Constellation" : "Glowfic Constellation")

    / Meta
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width'}
    = csrf_meta_tag

    / SEO canonical
    - if @meta_canonical.present?
      %link{rel: 'canonical', href: @meta_canonical}

    / Stylesheets
    = stylesheet_link_tag 'application'
    - if current_user.try(:layout).present?
      = stylesheet_link_tag "layouts/#{current_user.layout}"

    / Favicons
    %meta{name: "apple-mobile-web-app-title", content: "Glowfic Constellation"}
    %meta{name: "application-name", content: "Glowfic Constellation"}
    %meta{name: "msapplication-config", content: asset_path('favicons/browserconfig.xml')}
    %meta{name: "theme-color", content: "#ffffff"}
    = favicon_link_tag asset_path('favicons/favicon.ico')
    = favicon_link_tag asset_path('favicons/favicon-32x32.png'), type: 'image/png', rel: 'icon', sizes: '32x32'
    = favicon_link_tag asset_path('favicons/favicon-16x16.png'), type: 'image/png', rel: 'icon', sizes: '16x16'
    = favicon_link_tag asset_path('favicons/apple-touch-icon.png'), type: 'image/png', rel: 'apple-touch-icon', sizes: '180x180'
    %link{rel: 'mask-icon', href: asset_path('favicons/safari-pinned-tab.svg'), color: '#2b5797'}
    %link{rel: 'manifest', href: asset_path('favicons/manifest.json')}

    = include_gon
  %body
    #wrapper
      / Navigation
      %nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path}
            = image_tag '/images/logo.png', alt: 'Glowfic Constellation'

        -if logged_in?
          %ul.nav.navbar-top-links.navbar-right
            %li.dropdown
              %a.dropdown-toggle{:href => messages_path}
                %i.fa.fa-envelope.fa-fw

            %li.dropdown
              %a.dropdown-toggle{:href => user_characters_path(current_user)}
                %i.fa.fa-users.fa-fw

            %li.dropdown
              %a.dropdown-toggle{:href => user_galleries_path(current_user)}
                %i.fa.fa-picture-o.fa-fw

            %li.dropdown
              %a.dropdown-toggle{:href => new_post_path}
                %i.fa.fa-pencil-square-o.fa-fw

            %li.dropdown
              %a.dropdown-toggle{:href => favorites_path}
                %i.fa.fa-star.fa-fw

            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-cog.fa-fw
                %i.fa.fa-caret-down
              %ul.dropdown-menu.dropdown-user
                %li
                  %a{:href => edit_user_path(current_user)}
                    %i.fa.fa-user.fa-fw
                    Account
                %li.divider
                %li
                  = link_to logout_path, method: :delete, id: :"header-logout" do
                    %i.fa.fa-sign-out.fa-fw
                    Logout

          .navbar-default.sidebar{:role => "navigation"}
            .sidebar-nav.navbar-collapse
              %ul#side-menu.nav
                %li.sidebar-search
                  .input-group.custom-search-form
                    %input.form-control{:placeholder => "Search...", :type => "text"}/
                    %span.input-group-btn
                      %button.btn.btn-default{:type => "button"}
                        %i.fa.fa-search

                %li
                  %a{:href => boards_path}
                    %i.fa.fa-globe.fa-fw
                    Continuities
                %li
                  %a{:href => posts_path}
                    %i.fa.fa-pencil-square-o.fa-fw
                    Recently Updated
                %li
                  %a{:href => users_path}
                    %i.fa.fa-users.fa-fw
                    Glowficcers
                %li
                  %a{:href => facecasts_characters_path}
                    %i.fa.fa-smile-o.fa-fw
                    Facecasts
                %li
                  %a{:href => unread_posts_path}
                    %i.fa.fa-envelope-open.fa-fw
                    Unread
                %li
                  %a{:href => owed_posts_path}
                    %i.fa.fa-tags.fa-fw
                    Tags Owed
                %li
                  %a{:href => contribute_path}
                    %i.fa.fa-money.fa-fw
                    Contribute

      #page-wrapper
        .container-fluid
        #content= yield

  = javascript_include_tag 'application'.freeze
  - (@javascripts || []).each do |javascript|
    = javascript_include_tag javascript
